.appInput {   
    min-width: 200px;
    padding: 10px 20px;
    margin: 0 0 10px;
    border: 1px solid #06266F;
    border-radius: 10px;

    &::placeholder {
        color: rgba(#000000, 0.5)
    }

    &:hover {
        &::placeholder {
            color: #000000
        }
    }

    &:focus {
        outline: none
    }
}